<div class="view view--{{ size }}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/pako/2.1.0/pako.min.js"></script>

<div class="layout layout--col" id="anki">
  <div class="richtext richtext--center gap--large" data-overflow="true">
    <div id="note" data-content-limiter="true" class="markdown content content--center gap text--center pt--1">
    </div>
  </div>
</div>

<div class="title_bar">
  <img class="image" src="https://usetrmnl.com/images/plugins/trmnl--render.svg">
  <span class="title">{{ trmnl.plugin_settings.instance_name }}</span>
  {% comment %} <span class="instance">Created on: {{ note_id | divided_by: 1000 | plus: trmnl.user.utc_offset | date: '%b %d, %Y' }}</span> {% endcomment %}
</div>

<script>
  document.addEventListener("DOMContentLoaded", function(e) { 
    // Yoinked from https://github.com/albert7617/trmnl-japanese
    function decompressText(compressedText) {
      // Decode the base64 string to binary data
      const binaryString = atob(compressedText);

      // Convert the binary string to a Uint8Array
      const bytes = new Uint8Array(binaryString.length);
      for (let i = 0; i < binaryString.length; i++) {
        bytes[i] = binaryString.charCodeAt(i);
      }

      // Decompress using zlib (pako is a popular zlib library for browsers)
      // Note: You'll need to include pako.js for this to work
      const decompressedBytes = pako.inflate(bytes);

      // Convert the decompressed bytes back to a string
      const decoder = new TextDecoder('utf-8');
      return decoder.decode(decompressedBytes);
    }

    function populate(data) {
      const decompressedData = JSON.parse(decompressText(data));
      const mainContainer = document.getElementById('note')
      const note = decompressedData[Math.floor(Math.random() * decompressedData.length)];

      Object.entries(note).forEach(([key, value]) => {
        if (!value) {
          return;
        }
        const el = document.createElement("span");
        // We intentionally don't escape the value since anki fields can contain styled HTML
        el.innerHTML = value;
        el.setAttribute("data-value-fit", "true");
        el.setAttribute("data-value-fit-max-height", "340");
        mainContainer.appendChild(el);
      });
      const front = mainContainer.children[0];
      const back = mainContainer.children[1];
      const info = mainContainer.children[2];

      front.classList.add("value","value--large");
      back.classList.add("value");
      info?.classList.add("value");
    }
    populate("{{ notes }}");
  });
</script>
</div>